<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>jBlog</title>
        <!-- 페이지 공통 사용 -->
        <link href="../../assets/css/jblog.css" rel="stylesheet">
        <!-- 이 페이지에서만 사용 -->
        <link href="../../assets/css/login.css" rel="stylesheet">
    </head>

    <body>
        <div id="wrap">
            <div id="header">
                <a href="./main.html"><img src="../../assets/images/logo.jpg"></a>

                <ul class="clearfix">
                    <li id="h-login"><a href="./login.html">로그인</a></li>
                    <li id="h-register"><a href="./register.html">회원가입</a></li>
                </ul>
            </div>

            <div id="login">
                <div id="l-id">
                    <label class="form-text" for="txt-id">아이디</label>
                    <input class="l-box" id="id-box" type="text" name="txt-id" value="">
                </div>
    
                <div id="l-pw">
                    <label class="form-text" for="txt-pw">패스워드</label>
                    <input class="l-box" id="pw-box" type="password" name="txt-pw" value="">
                </div>
                
                <p>아이디 또는 비밀번호를 확인해주세요</p>
    
                <button id="l-button" type="submit">로그인</button>
            </div>

            
    
            <div id="footer" class="clearfix">
                <ul>
                    <li><a href="">회사소개</a></li>
                    <li><a href="">서비스소개</a></li>
                    <li><a href="">이용약관</a></li>
                    <li><a href="">개인정보처리방침</a></li>
                    <li><a href="">제휴</a></li>
                    <li><a href="">채용</a></li>
                    <li><a href="">고객센터</a></li>
                    <li>©방구석 internet</li>
                </ul>
            </div>
        </div>

    </body>
</html>