<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8">
        <title>jBlog</title>
        <!-- 페이지 공통 사용 -->
        <link href="../../assets/css/jblog.css" rel="stylesheet">
        <!-- 이 페이지에서만 사용 -->
        <link href="../../assets/css/main.css" rel="stylesheet">
    </head>

    <body>
        <div id="wrap">
            <div id="header">
                <img src="../../assets/images/logo.jpg">

                <ul class="clearfix">
                    <li><a href="">로그인</a></li>
                    <li><a href="">회원가입</a></li>
                </ul>
            </div>

            <div>
                <input type="text" id="txt-search">
                <button>검색</button>
            </div>
    
            <div id="footer">
                <ul>
                    <li><a href="">회사소개</a></li>
                    <li><a href="">서비스소개</a></li>
                    <li><a href="">이용약관</a></li>
                    <li><a href="">개인정보처리방침</a></li>
                    <li><a href="">제휴</a></li>
                    <li><a href="">채용</a></li>
                    <li><a href="">고객센터</a></li>
                    <li>©방구석 internet</li>
                </ul>
            </div>
        </div>
    </body>
</html>