@charset "UTF-8";
/*** 공통 ***/
/* 여백초기화 */
body, div, dl, dt, h1, h2, h3, h4, h5, h6, input, fieldset, legend, p, select, table, th, td, tr, textarea, button, form, ol, ul, li{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px; 
}

body{
    font-family: "맑은 고딕", "돋음";
    font-size: 12px;
}

ul, ol{
    list-style-type: none;
}

/* clearfix */
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}

a:link{text-decoration: none; color: #000000;}
a:visited{text-decoration: none; color: #000000;}
a:hover{text-decoration: none; color: #000000;}
a:active{text-decoration: none; color: #000000;}

/* 레이아웃 */
#wrap{
    width: 1000px;
    margin: 0px auto;
}

#wrap #header{
    padding: 10px 0px 10px 0px;
}

#wrap #contents{
    padding: 20px 10px 20px 10px;
}

#wrap #footer{
    width: 1000px;
    height: 60px;
    background-color: #e7eaed;
    
}

/* header */

/* 검색창 */

/* 체크박스 */

/* footer */
#footer ul li{
    float: left;
    padding: 20px 0px 0px 50px;
}
