@charset "UTF-8";
/*** 공통 ***/
/* 여백초기화 */
body, div, dl, dt, h1, h2, h3, h4, h5, h6, input, fieldset, legend, p, select, table, th, td, tr, textarea, button, form, ol, ul, li{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px; 
}

body{
    font-family: "맑은 고딕", "돋음";
    font-size: 12px;
}

ul, ol{
    list-style-type: none;
}

/* clearfix */
.clearfix:before, .clearfix:after {display: block; content: ""; line-height: 0;}
.clearfix:after {clear: both;}


/* 레이아웃 */
#wrap{
    width: 1000px;
    margin: 0px auto;
}

#wrap #header{
    /* border: 1px solid #000000; */
    padding: 10px 0px 10px 0px;
}

#wrap #nav{
    border-top: 2px solid #dddddd;
    border-bottom: 2px solid #dddddd;
    padding: 10px 0px 10px 0px;
}

#wrap #contents{
    padding: 20px 10px 20px 10px;
}

#wrap #footer{
    background-color: #e7eaed;
    text-align: center;
    padding: 10px 0px 10px 0px;
}



/* header */
#header h1{
    float: left;
    font-size: 35px;
    color: #79b30b;
}

#header ul{
    float: right;
    margin: 20px 0px 0px 0px;
}

#header ul>li{
    float: left;
    padding: 3px 5px 3px 5px;
    margin: 0px 0px 0px 10px;
    border-radius: 3px;
    border: 1px solid #dddddd;
    font-size: 10px;
}


ul>li>a{
    height: 30px;
}

a:link{text-decoration: none; color: #000000;}
a:visited{text-decoration: none; color: #000000;}
a:hover{text-decoration: none; color: #000000;}
a:active{text-decoration: none; color: #000000;}

/* nav */
#nav ul{

}

#nav ul>li{
    width: 250px;
    float: left;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

/* footer */
#footer p{
    font-size: 15px;
}

#contents2 #main{
    width: 820px;
    float: left;
}






/* 메인페이지만 사용 */
/* contents */
#contents #profile{
    width: 300px;
    float: left;
    margin-right: 10px;
}

#contents #greeting-box{
    float: left;
    font-size: 18px;
}

#contents #greeting-box .greeting{
    font-weight: bold;
}



/* 메인페이지 2단 */
/* contents2 */
#contents2{
    padding: 20px 0 20px 0;
}

#contents2 h2{
    font-size: 20px;
    font-weight: bold;
}

#contents2 div{
    /* border: 1px solid #000000; */
}

#contents2 #aside{
    width: 180px;
    float: left;
}

#contents2 #aside h2{
    width: 160px;
    height: 60px;
    background-color: #bbbbbb;
    text-align: center;
    line-height: 60px;
}

#contents2 #aside ul{
    width: 160px;
}

#contents2 #aside ul>li{
    width: 148px;
    padding: 8px 0 8px 10px ;
    border: 1px solid #bbbbbb;
    margin-top: 5px;
    font-size: 15px;
}

#contents2 #main h2{
   
}

#contents2 #main ol{
    float: right;
    margin: 0px 0px 0px 100px;
}

#contents2 #main #main-line ol>li{
    float: left;
    margin-bottom: 10px;
}

#contents2 #main-line ol>li:not(:last-child)::after{
    padding: 0 2px 0 2px;
    content: ">";
}


#contents2 #main-line{
    border-bottom: 1px solid #bbbbbb;
}

/* 회원 */
.arrange{
    margin: 20px 0px 10px 110px;
    font-size: 12px;
}

.r-box{
    width: 140px;
    height: 25px;
    font-size: 12px;
}
.form-text{
    display: inline-block;
    width: 48px;
    height: 20px;
    text-align: right;
    margin-right: 10px;
}