@charset "UTF-8";

#userInfo{
    width: 500px;
    height: 288px;
    border: 1px solid #dddddd;;
    margin: 50px 0px 30px 320px; 
}

#userInfo #u-id{
    margin-top: 35px;
}

#userInfo #userid{
    font-size: 15px;
    font-weight: bold;
}

#userInfo #u-button{
    width: 100px;
    height: 30px;
    border: 1px solid #b6b6b6;  
    border-radius: 2px;
    margin: 20px 0px 30px 200px;
}